body{
    width: 80% ;
    margin:20px auto ;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/2431257904741262239/5224F69217562A3C070E381FE3DAC295BCF5C9A8/?imw=1024&imh=575&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
    padding: 5%;
    

    
    
    
    
}
h1{
    color: rgba(138, 24, 24, 0.952);
    text-align: center;
    background-color: rgb(255, 250, 250);
    
}
table{
  width: 100%;


}



input{
    width: 99%;
    font-size:150% ; 
    border-radius: 0px;
    
}



  


button{
    
    width: 100%;
    font-family: comic sans;
    
font-size: 140%;
font-weight: bold;
border-radius: 0px;

color :rgb(241, 240, 240);

overflow: 0.2s;
transition: 0.2s;
background: linear-gradient(40deg,transparent,rgb(6, 145, 36));

}
button:hover{
    background: rgb(46, 204, 67);
    box-shadow:   0 0 80px rgb(6, 221, 71), 0 0 40px rgb(0, 212, 18),0 0 80px rgb(17, 223, 45);
    transition-delay: 0.1s;
}



button:hover button{
    
    transition: 1s;
}

input{
    text-align: center;
}
.ac{
 color: rgb(252, 248, 248);   
}
